{% extends "base.html" %}

{% block main_content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/manager/new/"><i class="fa fa-plus fa-sm text-white-50" style="font-size: 13px;"></i>&nbsp;Add Checklist</a>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 35%">Checklist Name</th>
                        <th class="text-center">Assigned To</th>
                        <th class="text-center">Edit Name and Description</th>
                        <th class="text-center">See Checklist Template</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in all_checklists %}
                    <tr>
                        <td>{{ row.checklist_name }}</td>
                        <!--<td class="text-center"><i class="fa fa-users" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-size: 17px;" title="People who this checklist is assigned to."></i></td>-->
                        <td class="text-center"> <i class="fa fa-user-plus"></i></td>
                        <td class="text-center"><a href="/manager/edit/{{row.id}}"><i class="fa fa-th-list"></i></td>
                        <td class="text-center"><a href="/manager/template/list/{{row.id}}"> <i class="fa fa-list-alt"></i></a> </td>
                        <td class="text-center"><a href="/manager/delete/{{row.id}}"><i class="fa fa-trash" style="font-size: 17px;"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}