{% extends "website/base_index.html" %}
{% load static %}
{% block main_content %}
    <header class="masthead">

        <div class="container position-relative">
            <div class="row bg-light rounded-top rounded-bottom align-self-lg-center" >
                <div class="col-1"></div>
                <div class="col-10">
                <h1>Thanks trying us out!</h1>
                <br>
                <h2>Here's the steps to start your free trial:</h2>
                <div class="list-group list-group-numbered">
                <ol class="mb-3">
                    <li class="mb-3">Please tell us a bit more about yourself.</li>
                    <li class="mb-3">Check your email. You will receive a username and password for immediate access.
                    </li>
                    <li class="mb-3">Enjoy 14 days of full access to BrighterChecklist for free!</li>
                </ol>
                    </div>
                    </div>
                <div class="col-1"></div>
            </div>
            <br>
            <div class="row">
                <form action="{% url 'save_customer' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-success" type="submit" value="Sign Up For BrighterChecklist">
                </form>
            </div>
            <br>
            <div class="row bg-light rounded-top rounded-bottom">
                    <h4>Account Activation</h4>
                    <p>When your account is activated you will receive an email with your username and password.
                        <br>Email admin@brighterchecklist.com if you have questions or need help.</p>
            </div>
        </div>

            <hr>


        </div>
    </header>

{% endblock %}