{% extends "base.html" %}

{% block main_content %}

    <div class="row ">
        <div class="col-6">
            <h3>Customer Information</h3>
            <p><i>Information about a Checklist Manager or User</i></p>
        </div>
        <div class="col-6 text-end">
            <a href="{% url 'list_customers' %}" class="btn btn-primary btn-sm d-none d-sm-inline-block" >Account List</a>
            <button class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" type="submit" onclick="document.getElementById('submitButton').click()">Save Customer Information</button>
        </div>
    </div>

<form action="{% url 'edit_customer' customer.id|default:0 %}" method="post">
    {% csrf_token %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 3%">#</th>
                <th scope="col" style="width: 15%">Data Point</th>
                <th scope="col">Profile Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>First Name</td>
                <td>{{ form.firstname|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Last Name</td>
                <td>{{ form.lastname|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Email Address</td>
                <td>{{ form.email|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Customer Type</td>
                <td>{{ form.customer_type|default:"" }}</td>
            </tr>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Company Name</td>
                <td>{{ form.company_name|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Customer Unique Identifier</td>
                <td>{{ form.customer_uuid }} {{ form.customer_uuid.value }}</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Expiry Date</td>
                <td>{{ customer.account_expiry_date }} ({{ days_until_expiry }} days)</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Payment Action</td>
                <td><a href="{{ stripe_url }}?client_reference_id={{ customer.customer_uuid }}&prefilled_email={{ url_email }}" class="btn-success">Pay Annual Subscription</a>
                <br><i>When payment is complete, click the back button to return to this page. </i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row ">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" type="submit" id="submitButton">Save Customer Information</button>
        </div>
    </div>
    </form>

{% endblock %}