{% extends "base.html" %}

{% block main_content %}
    <div class="row ">
        <div class="col-6">
            <h3>Customer Information</h3>
            <p><i>Information about a Checklist Manager or User</i></p>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-success" role="button" type="submit" onclick="document.getElementById('submitButton').click()">Save Customer Information</button>
        </div>
    </div>

<form action="{% url 'profile' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 3%">#</th>
                <th scope="col" style="width: 15%">Data Point</th>
                <th scope="col">Profile Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>First Name</td>
                <td>{{ form.first_name|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Last Name</td>
                <td>{{ form.last_name|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>User Name</td>
                <td>{{ user.username|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Email Address</td>
                <td>{{ user.email|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Customer Type</td>
                <td>{{ customer.get_customer_type_display|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Account Type</td>
                <td>Trial Account <!-- TODO - add a 'change account' dropdown --> </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Payment Action</td>
                <td><a href="https://buy.stripe.com/fZe4iq03Y7NT0FOaEE" class="btn-success">Pay Annual Subscription</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row ">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-success" role="button" type="submit" id="submitButton">Save Customer Information</button>
        </div>
    </div>
    </form>

{% endblock %}