{% extends "website/base_index.html" %}

  <div class="container-fluid" style="margin-top:200px">
    <h1>Thanks for signing up {{ firstname }} {{ lastname }}!</h1>

    <p>Your free trial has been activated. You have 14 days of full access to the app.</p>
    <p>You will receive an email with your password and login details. If the email isn't in your inbox in 5 minutes, check your spam folder.</p>
      <p>By using this app, you are accepting the terms of service.</p>
    <p>If you have questions or feedback, please email brighterchecklist@johnv.ca</p>
    <p>Thank you for being the type of person who values repeating checklists for consistent performance.</p>
    <p><b>John</b></p>

    <a href="/">Return to the BrighterChecklist main page</a>
    <a href="/manager/">Login to BrighterChecklist</a>

{% endblock %}