{% extends "base.html" %}

{% block main_content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/manager/new/"><i class="fa fa-plus fa-sm text-white-50" style="font-size: 13px;"></i>&nbsp;Add Checklist</a>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                        <th style="width: 35%">Checklist Custom Name</th>
                        <th style="width: 35%">Source Checklist Name</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">Checklist Status</th>
                        <th class="text-center">Notes</th>
                        <th class="text-center">Go To Checklist</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in assigned_checklists %}
                    <tr>
                        <td>{{ item.checklist_custom_title }}</td>
                        <td>{{ item.source_checklist_id.checklist_name }}</td>
                        <td class="text-center">{{ item.checklist_startdate|date:'Y-m-d' }}</td>
                        <td class="text-center">
                            {% if item.checklist_iscomplete %}
                                Completed
                            {% else %}
                                Not Complete
                            {% endif %}
                        </td>
                        <td class="text-center"><a href="/checklist/details/{{ item.id }}">Edit Notes</a></td> <!-- One way to do this -->
                        <td class="text-center" style="font-size: large"><a href="{% url 'checklist' id=item.id %}">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a></td> <!-- Another way to do this -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}