{% extends "base.html" %}

{% block main_content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Assigned Checklists</h3>
        <a class="btn btn-primary-outline" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/manager/"><i class="fa fa-arrow-up fa-sm text-white-50" style="font-size: 13px;"></i>&nbsp;Go To Checklist Manager</a>
</div>
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <div class="collapse container-fluid" id="collapseHelp">
  <div class="bg-white">
      <p>This is a a list of assigned checklists.</p>
      <p>
          For each assigned checklist you can choose to complete the checklist or add notes.
          You can see whether the checklist is complete or not on this list. You can also add notes about the checklist here.
      </p>
  </div>
</div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                        <th style="width: 35%">Checklist Custom Name</th>
                        <th style="width: 35%">Source Checklist Name</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">Checklist Status</th>
                        <th class="text-center" width="3%">Notes</th>
                        <th class="text-center" width="3%">Go To Checklist</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in assigned_checklists %}
                    <tr>
                        <td>{{ item.checklist_custom_title }}</td>
                        <td>{{ item.source_checklist.checklist_name }} {{ item.source_checklist.owner }}</td>
                        <td class="text-center">{{ item.checklist_startdate|date:'Y-m-d' }}</td>
                        <td class="text-center">
                            {% if item.number_of_incomplete == 0 %}
                                Completed
                            {% else %}
                                Not Complete
                            {% endif %}
                        </td>
                        <td class="text-center"><a href="/checklist/assigned/{{ item.id }}"><i class="fa fa-comment" aria-hidden="true"></i></a></td> <!-- One way to do this -->
                        <td class="text-center" style="font-size: large"><a href="{% url 'checklist' id=item.id %}">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a></td> <!-- Another way to do this -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}