{% extends "base.html" %}

{% block main_content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">{{ checklist_header.checklist_custom_title }}
        <a href="/checklist/assigned/{{ checklist_header.id }}" data-toggle="tooltip" title="Edit Assigned Checklist Title and Notes">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
    </h3>

        <a class="btn btn-primary-outline" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    <div>
      <a class="btn btn-success btn-sm d-none d-sm-inline-block" data-bs-toggle="collapse" href="#notesCollapse" role="button" aria-expanded="false" aria-controls="notesCollapse">
        Show / Hide Notes
      </a>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/checklist/assigned/"><i class="fa fa-arrow-up fa-sm text-white-50" style="font-size: 13px;"></i>&nbsp;Go To Assigned Checklists</a>
        </div>
</div>

<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <div class="collapse container-fluid" id="collapseHelp">
  <div class="bg-white">
      <p>This is the checklist that you can complete.</p>
      <p>
        Check off each item when it is complete. You can add notes to your checklist item by clicking on the <u>Edit Notes</u> link.
          When a checklist has all of the items checked off it is considered complete.
      </p>
  </div>
</div>
</div>

    <div class="collapse" id="notesCollapse">
        <b>Checklist Notes</b>
        <p>{{ checklist_header.checklist_notes }}</p>
    </div>

<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                        <th></th>
                        <th style="width: 35%">Details</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">Status</th>
                        <!-- <th class="text-center" width="3%">Notes</th> -->
                        <th class="text-center" width="3%">Checkmark</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in checklist_items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/checklist/details/{{ item.id }}" >{{ item.checklist_item_short_text }}</a></td>
                        <td class="text-center">{{ item.startdate|date:'Y-m-d H:i' }}</td>
                        <td class="text-center">
                            {% if item.iscomplete %}
                                Completed
                            {% else %}
                                Not Complete
                            {% endif %}
                        </td>
                        <!-- <td class="text-center"><a href="/checklist/details/{{ item.id }}" ><i class="fa fa-comment" aria-hidden="true"></i></a></td> -->
                        <td class="text-center" style="font-size: large" ><a href="{% url 'complete' id=item.id %}">
                            {% if item.iscomplete %}
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-square-o" aria-hidden="true"></i>
                            {% endif %}
                        </a></td> <!-- Another way to do this -->
                    </tr>
                    <tr class="collapse" id="notesCollapse">
                        <td></td>
                        <td colspan="4">{{ item.checklist_item_users_notes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}