{% extends "base.html" %}

{% block main_content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Assigned Checklists for: {{ checklist_info.checklist_name }}</h3>
        <a class="btn btn-primary-outline" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/checklist/assigned/">
        <i class="fa fa-arrow-right fa-sm text-white-50" style="font-size: 13px;"></i>&nbsp;See All Checklist Assignments</a>
</div>

<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <div class="collapse container-fluid" id="collapseHelp">
  <div class="bg-white">
      <p>Assign a checklist to a person here. Once a checklist is assigned to a person they can check off the different items to complete the checklist. </p>
  </div>
</div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="1%">#</th>
                        <th style="width: 35%">User's Name</th>
                        <th class="">Username</th>
                        <th class="text-center">Number Of Times This Checklist Has Been Assigned</th>
                        <th class="text-center">Number Of Completed Checklist</th>
                        <th class="text-center">Number Of Open Checklist</th>
                        <th class="text-center">Assign checklist to this person</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in all_users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.customer.firstname }} {{ row.customer.lastname }}</td>
                        <td>{{ row.user}}</td>
                        <td class="text-center"> - </td>
                        <td class="text-center"> - </td>
                        <td class="text-center"> - </td>
                        <td class="text-center"><a href="/manager/users/assign/{{checklist_info.id}}/{{row.id}}"><i class="fa fa-plus-circle" style="font-size: 17px;"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}