{% extends "base.html" %}

{% block main_content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Template Checklist Items for: {{ checklist_info.checklist_name }}
        <a href="/manager/edit/{{checklist_info.id}}" data-toggle="tooltip" title="Edit Template Title and Description">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </h3>
    <a class="btn btn-primary-outline" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    <div class="float-end">
    <a class="btn btn-success btn-sm d-none d-sm-inline-block" data-bs-toggle="collapse" href="#notesCollapse"
       role="button" aria-expanded="false" aria-controls="notesCollapse">
        Show / Hide Notes
    </a>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/manager/users/{{checklist_info.id}}">
        <i class="fa fa-user-plus"></i> Assign Checklist to User</a>
            <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/manager/template/new/{{checklist_info.id}}">
        <i class="fa fa-plus fa-sm text-white-50" style="font-size: 13px;"></i> Add A New Checklist Item</a>
        </div>
</div>
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <div class="collapse container-fluid" id="collapseHelp">
  <div class="bg-white">
      <p>A Checklist Template is the list of tasks that will be done over and over again.</p>
      <p>
          The template is the 'recipe' for the checklist. When you assign a checklist to someone
          they will be given a copy of this list of items to complete.
      </p>
  </div>
</div>
</div>
    <div class="collapse" id="notesCollapse">
    <h5>Checklist Details</h5>
        {{ checklist_info.checklist_details }}
    </div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="width: 35%">Checklist Item Short Text</th>
                        <th class="">Checklist Item Description</th>
                        <!-- <th class="text-center" width="3%">Edit Item</th> -->
                        <th class="text-center" width="3%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in all_template_items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/manager/template/edit/{{row.id}}" data-toggle="tooltip" title="Edit Checklist Item">
                            {{ row.template_item_short_text }}</a>
                        </td>
                        <td>{{ row.template_item_long_text|safe }}</td>
                        <!-- <td class="text-center"><a href="/manager/template/edit/{{row.id}}"><i class="fa fa-th-list"></i></a> </td> -->
                        <td class="text-center">
                            <a href="/manager/template/delete/{{row.id}}" data-toggle="tooltip" title="Delete Checklist Item">
                                <i class="fa fa-trash" style="font-size: 17px;"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}