{% extends "base.html" %}

{% block main_content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Add a Checklist Template</h3>
    <a class="btn btn-primary-outline" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/manager"><i class="fa fa-list fa-sm text-white-50" style="font-size: 13px;"></i>&nbsp;Back to List of Checklists</a>
</div>

<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <div class="collapse container-fluid" id="collapseHelp">
  <div class="bg-white">
      <p>This is where you can enter some high-level information about your checklist.</p>
      A memorable name and description will help you remember what this checklist is about. You will create checklist items in the See Checklist Template section.
  </div>
</div>
</div>

<div class="row">
    <div class="col">

        <form action="/manager/save/{% if checklist_data.id %}{{ checklist_data.id }}{% else %}0{% endif %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary text-center" type="submit">{% if checklist_data.id %}Save{% else %}Add{% endif %} Checklist</button>
        </form>
    </div>
</div>
{% endblock %}