{% extends "base.html" %}

{% block main_content %}
<div class="d-sm-flex justify-content-between align-items-right mb-4">
    <h3 class="text-dark mb-0">Template Checklist Items for: {{ checklist_info.checklist_name }}</h3>
        <a class="btn btn-primary-outline" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/manager/template/new/{{checklist_info.id}}">
        <i class="fa fa-plus fa-sm text-white-50"></i>&nbsp;Add A New Checklist Item</a>
</div>
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <div class="collapse container-fluid" id="collapseHelp">
  <div class="bg-white">
      <p>A Checklist Template is the list of tasks that will be done over and over again.</p>
      <p>
          The template is the 'recipe' for the checklist. When you assign a checklist to someone
          they will be given a copy of this list of items to complete.
      </p>
  </div>
</div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 35%">Checklist Item Short Text</th>
                        <th class="">Checklist Item Description</th>
                        <th class="text-center">Edit Checklist Item</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in all_template_items %}
                    <tr>
                        <td>{{ row.template_item_short_text }}</td>
                        <td>{{ row.template_item_long_text }}</td>
                        <td class="text-center"><a href="/manager/template/edit/{{row.id}}"><i class="fa fa-th-list"></i></a> </td>
                        <td class="text-center"><a href="/manager/template/delete/{{row.id}}"><i class="fa fa-trash" style="font-size: 17px;"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}