{% extends "base.html" %}

{% block main_content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Checklist Templates</h3>
    <a class="btn btn-primary-outline" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/manager/new/"><i class="fa fa-plus fa-sm text-white-50" style="font-size: 13px;"></i>&nbsp;Add Checklist</a>
</div>



<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <div class="collapse container-fluid" id="collapseHelp">
  <div class="bg-white">
    This is a list of templates that you have set up. You can set up a template,
        and add checklist items to it. This is your 'recipe' for the checklists that you will assign to
        people. Once you have checklist items added, you can assign the checklist to someone so that they
    can complete it. You complete a checklist by checking off the items on the list. You can assign the same
    checklist to as many people as you want, as many times as you want.
  </div>
</div>
</div>

<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="1%">#</th>
                        <th style="width: 35%">Checklist Name</th>
                        <th class="text-center" width="3%">Assign Checklist</th>
                        <!--<th class="text-center" width="3%">Edit Name and Description</th>-->
                        <!--<th class="text-center" width="3%">See Checklist Template</th>-->
                        <th class="text-center" width="3%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in all_checklists %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="/manager/template/list/{{row.id}}" data-toggle="tooltip" title="See Template Items">{{ row.checklist_name }}</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/manager/edit/{{row.id}}" data-toggle="tooltip" title="Edit Template Title and Description">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        <!--<td class="text-center"><i class="fa fa-users" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-size: 17px;" title="People who this checklist is assigned to."></i></td>-->
                        <td class="text-center"><a href="/manager/users/{{row.id}}"> <i class="fa fa-user-plus"></i></a></td>
                        <!--<td class="text-center"><a href="/manager/edit/{{row.id}}"><i class="fa fa-th-list"></i></a></td> -->
                        <!--<td class="text-center"><a href="/manager/template/list/{{row.id}}"> <i class="fa fa-list-alt"></i></a> </td>-->
                        <td class="text-center"><a href="/manager/delete/{{row.id}}"><i class="fa fa-trash" style="font-size: 17px;"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}