{% extends "base.html" %}
{% load static %}

{% block main_content %}
    <script src="{% static 'assets/trumbowyg/dist/trumbowyg.min.js' %}"></script>


<div class="trumbowyg-editor-box"><div id="editor" class="trumbowyg-editor" contenteditable="true" dir="ltr">
                <h2>This editor is the default build of Trumbowyg.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, aliquam, minima fugiat placeat provident
                    optio nam reiciendis eius beatae quibusdam!
                </p>
                <p>
                    The text is derived from Cicero's De Finibus Bonorum et Malorum (On the Ends of Goods and Evils, or
                    alternatively [About] The Purposes of Good and Evil). The original passage began: Neque porro quisquam est
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit (Translation: "Neither is there
                    anyone who loves grief itself since it is grief and thus wants to obtain it").
                </p>
            </div></div>

<!-- Import Trumbowyg -->
    <script>$('#editor').trumbowyg();</script>
    <script>
    function getHtml(){
        html = $('#editor').trumbowyg('html');
        console.log(html)
    }
    </script>
    <button onclick="getHtml()">Get HTML</button>
{% endblock %}
