{% extends "website/base_index.html" %}
{% load static %}

{% block main_content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            <span class="border {% if message.tags == 'error' %}border-danger text-danger
                                                    {% else %}border-success  text-success{% endif %}" style="background-color: white;">{{ message|safe }}</span>

                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row ">
                    <div class="col-xl-6 justify-content-start"></div>
                    <div class="col-xl-6 justify-content-end">
                        <div class="text-end text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Repeating Checklists. Consistent Performance.</h1>
                            <h4>Join the BETA launch today!<br>(Limited Release)</h4>
                                <form class="form-subscribe" id="contactForm" action="{% url 'new_customer' %}" method="post">
                                <!-- Email address input-->
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" name= "emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Get me started!</button></div>
                                </div>
                                </form>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex justify-content-center"><span style="font-size: 48px"><b><i>1</i></b></span></div>
                            <h3>Create a Checklist</h3>
                            <p class="lead mb-0">Set up a checklist of repeatable steps.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex justify-content-center"><span style="font-size: 48px"><b><i>2</i></b></span></div>
                            <h3>Assign a Checklist</h3>
                            <p class="lead mb-0">Give the checklist to someone to complete. Repeat as needed.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex justify-content-center"><span style="font-size: 48px"><b><i>3</i></b></span></div>
                            <h3>Complete a Checklist</h3>
                            <p class="lead mb-0">Do the items on the checklist. Consistently, every time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <div class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background:lightgrey;
                    background-image: url('../../static/website_assets/assets/img/RepeatableChecklistGraphic.png');
                    background-size: contain;background-repeat: no-repeat;background-position: center; "></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Everyday Work</h2>
                        <ul class="lead mb-0">
                            <li>On-boarding activities for new employees</li>
                            <li>Daily cleaning tasks</li>
                            <li>Sales process steps</li>
                            <li>and much more. . . .</li>
                        </ul>
                        <br>
                        <p class="lead mb-0">Now you have a simple way to organizing your repeating work. </p>
                        <br>
                        <h3>With a checklist!</h3>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background:lightslategray;background-image: url('../../static/website_assets/assets/img/ChecklistScreenshots.png');
                                background-size: contain;background-repeat: no-repeat;background-position: center; "></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>This is not your regular <u>To Do</u> app</h2>
                        <p class="lead mb-0">You have your todo list.<br> But what about the tasks you repeat in the same way time after time?</p><br>
                        <p class="lead mb-0">BrighterChecklist organizes your <b><i>repeating</i></b> checklists.</p>
                            <p class="lead mb-0"><br>Pilots, hospitals, and others use checklists to ensure success.
                            <br>Now you can too. </p>
                    </div>
                </div>
                <div class="row g-0 d-none">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../static/website_assets/assets/img/bg-showcase-3.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Documentation</h2>
                        <p class="lead mb-0">Follow this link for complete instructions.<br><a href="" target="_blank">Go to documentation</a> </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Pricing</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'website_assets/assets/img/testimonials-1.jpg' %}" alt="..." />
                            <h5>Checklist Manager</h5>
                            <ul class="text-start">
                                <li>Create checklists</li>
                                <li>Assign checklists to yourself or others</li>
                                <li><span style="color: darkred">[Coming Soon]</span> Add or remove team members to complete checklists</li>
                                <li>See details on checklists that are completed</li>
                                <li>Complete checklists assigned to you</li>
                                <li>All features included in the <u>Checklist Completer</u> package</li>

                            </ul>
                            <h5>$12/ month</h5>
                            <p class="font-weight-light mb-0">Paid annually
                                <br>
                                <small><i>Cancel anytime</i></small></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'website_assets/assets/img/testimonials-2.jpg' %}" alt="..." />
                            <h4 style="color: darkred">[COMING SOON]</h4>
                            <h5>Checklist Completer</h5>
                            <ul class="text-start">
                                <li>Complete checklists assigned to you.</li>
                                <li>Add notes to checklists or items</li>
                                <li>See which checklists are completed or still outstanding</li>

                            </ul>
                            <h5>$8/ month</h5>
                            <p class="font-weight-light mb-0">Paid annually
                                <br>
                                <small><i>Cancel anytime</i></small></p>
                            <br>
                            <p style="color: darkred"><b>Individual <u>Checklist Completer</u> accounts will be available later in the BETA release.</b></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                        <form class="form-subscribe" id="contactForm" action="{% url 'new_customer' %}" method="post">
                            <!-- Email address input-->
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" id="emailAddress" name= "emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}