{% extends "website/base_index.html" %}
{% load static %}

{% block main_content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            <span class="border {% if message.tags == 'error' %}border-danger text-danger
                                                    {% else %}border-success  text-success{% endif %}" style="background-color: white;">{{ message|safe }}</span>

                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row ">
                    <div class="col-xl-12 justify-content-start">
                        <h2 class="text-light" >BrighterChecklist Privacy Policy</h2>
                    </div>


                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-start">
            <div class="container">
                <div class="row">


                    <h1>BrighterChecklist <u>Software As A Service</u> (SAAS) Product Privacy Policy</h1>
                    <p><strong>Effective Date:</strong> September 24, 2023</p>

                    <h2>1. Introduction</h2>
                    <p>Welcome to the BrighterChecklist SAAS Product ("we," "our," or "us"). This Privacy Policy outlines
                        how we collect,
                        use, disclose, and protect your personal information when you use our SAAS product and related
                        services
                        (collectively, the "Service").</p>

                    <p>By accessing or using our Service, you consent to the practices described in this Privacy Policy.
                        If you do not
                        agree with this Privacy Policy, please do not use our Service.</p>

                    <h2>2. Information We Collect</h2>
<div class="ms-lg-4">
                    <h3>2.1. Information You Provide</h3>
                    <p>When you use our Service, we may collect the following types of information that you voluntarily
                        provide to
                        us:</p>
                    <div>
                    <ul>
                        <li><strong>Personal Information:</strong> This may include your name, email address, phone
                            number, and any other
                            information you provide when registering for an account or using our Service.
                        </li>
                        <li><strong>Payment Information:</strong> If you make payments through our Service, we collect
                            payment card
                            information and related details necessary to process transactions securely.
                        </li>
                    </ul>
</div>
                    <h3>2.2. Information We Automatically Collect</h3>
                    <p>We may automatically collect certain information about your use of our Service, including:</p>
                    <div>
                    <ul>
                        <li><strong>Usage Information:</strong> This includes your IP address, device type, browser
                            type, operating
                            system, and other technical information about your use of the Service.
                        </li>
                        <li><strong>Log Data:</strong> We may collect log files that track actions taken on the Service,
                            such as page
                            views, clicks, and access times.
                        </li>
                        <li><strong>Cookies and Similar Technologies:</strong> We use cookies and similar technologies
                            to collect
                            information about your browsing and usage patterns on our website. You can control the use
                            of cookies through
                            your browser settings.
                        </li>
                    </ul>
                    </div>
</div>
                        <h2>3. How We Use Your Information</h2>
    <p>We use the information we collect for various purposes, including but not limited to:</p>
    <div>
    <ul>
        <li>Providing and maintaining the Service.</li>
        <li>Processing payments and managing your account.</li>
        <li>Responding to your inquiries, comments, or requests.</li>
        <li>Monitoring and analyzing usage of the Service to improve its functionality.</li>
        <li>Sending you updates, newsletters, and marketing materials with your consent.</li>
        <li>Complying with legal obligations and protecting our rights and the rights of others.</li>
    </ul>
</div>

    <h2>4. Data Sharing and Disclosure</h2>
    <p>We do not sell, trade, or rent your personal information to third parties. However, we may share your information
        with third parties in the following circumstances:</p>
<div>
    <ul>
        <li>With your consent.</li>
        <li>To comply with legal obligations.</li>
        <li>To provide services on our behalf (e.g., hosting, customer support).</li>
        <li>To protect our rights, privacy, safety, or property, and that of our users or others.</li>
        <li>In connection with a merger, sale, or acquisition of all or part of our company.</li>
    </ul>
</div>
    <h2>5. Data Security</h2>
    <p>We take reasonable steps to protect your personal information from unauthorized access, disclosure, alteration, or
        destruction. However, no method of transmission over the internet or electronic storage is entirely secure, and
        we cannot guarantee its absolute security.</p>

    <h2>6. Your Choices</h2>
    <p>You have the right to access, correct, update, or delete your personal information. You can also choose to opt out of
        receiving marketing communications from us.</p>

    <h2>7. Children's Privacy</h2>
    <p>Our Service is not intended for use by individuals under the age of 18. We do not knowingly collect personal
        information from children. If you believe that we have inadvertently collected information from a child, please
        contact us, and we will take appropriate measures to remove the information.</p>

    <h2>8. Changes to this Privacy Policy</h2>
    <p>We may update this Privacy Policy from time to time. The updated policy will be posted on our website, and the date
        of the latest revision will be indicated at the top of the policy.</p>



                    <h2>9. Contact Us</h2>
                    <p>If you have any questions, concerns, or requests regarding this Privacy Policy or your personal
                        information, please
                        contact us at <a href="mailto:admin@brighterchecklist.com">admin@brighterchecklist.com</a>.</p>
                </div>
            </div>
        </section>

        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                        <form class="form-subscribe" id="contactForm" action="{% url 'new_customer' %}" method="post">
                            <!-- Email address input-->
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" id="emailAddress" name= "emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Get me Started!</button>
                                <p>Free to try for 15 days!</p></div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}