<b>Welcome to BrighterChecklist!</b>
<p>Checklists are a tool that you can use to be confident that you are completing the right work, in the right way. Every time.</p>
<p>Please take some time to explore the app.</p>
<ul style="list-style-type: none">
    <li><b>Username: </b> {{ customer.email }}</li>
    <li><b>Password: </b>{{ password }}</li>
</ul>
<p>Protect yourself. Change your password after you first login.</p>
<p>By using this application you are agreening to the <a href="https://brighterchecklist.com/privacy/">Privacy Policy</a> and <a href="https://brighterchecklist.com/terms/">Terms of Use</a> </p>
<p>Happy checklisting!</p>
<p>The Brighter Checklist Team</p>