<b>Welcome to BrighterChecklist {{ customer.firstname }}.</b>
<p>Checklists are a tool that you can use to be confident that you are completing the right work, in the right way. Every time.</p>
<p>Please take some time to explore the app.</p>
<ul style="list-style-type: none">
    <li><b>Username: </b> {{ customer.email }}</li>
    <li><b>Password: </b>{{ password }}</li>
</ul>
<p>Protect yourself. Change your password after you first login.</p>
<p>By using this application you are agreening to the <a href="">terms of service and privacy statements.</a></p>
<p>Happy checklisting!</p>
<p>The Brighter Checklist Team</p>