<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checklist</title>
</head>
<body>

<table border="1">
    <tr>
        <th></th>
        <th>Details</th>
        <th>Start Date</th>
        <th>Is Complete</th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    {% for item in checklist_items %}

    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.source }}</td>
        <td>{{ item.startdate|date:'Y-m-d H:i' }}</td>
        <td>
            {% if item.iscomplete %}
                Completed
            {% else %}
                Not Complete
            {% endif %}</td>
        <td><a href="/checklist/details/{{ item.id }}">Add</a></td> <!-- One way to do this -->
        <td><a href="{% url 'complete' id=item.id %}">Complete</a></td> <!-- Another way to do this -->
    </tr>
    {% endfor %}
</table>

</body>
</html>